
@{
    ViewData["Title"] = "CreateUniversity";
}

    <div class="create-university">
        <div class="container">
            <h1>Create University </h1>
            <form name="my-form" autocomplete="off" action="/SuperAdmin/CreateUniversity" method="post">

                <div class="form-group">
                    <label for="UniversityName">University name</label>
                    <input type="text" class="form-control" name="UniversityName" placeholder="University name" required>
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>

                <div class="form-group">
                    <label for="Email">Administrator's email</label>
                    <input type="text" class="form-control" name="Email" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">ConfirmPassword</label>
                    <input type="password" class="form-control" name="ConfirmPassword" placeholder="" required>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>