@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>SuperAdmin StartPage</p>
<nav class="NavigationBar">
    <ul>
        <li>Rating</li>
        <li>Personal Cabinet</li>
        <li>Log Out</li>
    </ul>
</nav>
<div>
    <p>Universities:</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Administrator</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>МАУП</td>
            <td>Name A</td>
            <td>Edit Delete</td>
        </tr>
        <tr>
            <td>КНУКІМ</td>
            <td>Name <B></B></td>
            <td>Edit Delete</td>
        </tr>
        <tr>
            <td>ЛНУ</td>
            <td>Name C <B></B></td>
            <td>Edit Delete</td>
        </tr>
    </table>
    <button>Create University</button>
</div>