
@{
    ViewData["Title"] = "CreateSpeciality";
}

<h1>CreateSpeciality</h1>


<div>
    <form action="/Administrator/CreateSpeiality" method="post">
        <label>Faculty:</label>
        <select>@foreach (var item in ViewBag.Faculties)
        {
            <option>
                @item.Name
            </option>
        }</select>
        <br />

        <label>Name of Speciality:</label>
        <input type="text" placeholder="Speciality" name="SpecialityName">
        <br />

        <label>Budget place:</label>
        <input type="text" placeholder="Budgetplace" name="BudgetPlace">
        <br />

        <label>Paid place:</label>
        <input type="text" placeholder="PaidPlace" name="PaidPlace">
        <br />

        <label>ZNO1:</label>
        <input type="text" placeholder="zno1" name="zno1">
        <br />

        <label>ZNO2:</label>
        <input type="text" placeholder="zno2" name="zno2">
        <br />

        <label>ZNO3:</label>
        <input type="text" placeholder="zno3" name="zno3">
        <br />
        <button type="submit">Submit</button>
    </form>
</div>

