
@{
    ViewData["Title"] = "CreateFaculty";
}

<h1>CreateFaculty</h1>


<div>
    <form action="/Administrator/CreateFaculty" method="post">
        <label>Name of Faculty:</label>
        <input type="text" placeholder="Faculty" name="FacultyName">
        <label>Address:</label>
        <input type="text" placeholder="Address" name="Address">
        <button type="submit">Submit</button>
    </form>
    
</div>

