

<nav class="TopBar">
    <ul>
        <li>Rating</li>
        <li>Personal Cabinet</li>
        <li>Log Out</li>
    </ul>
</nav>
<div class="PersonalInformation">
    <form>
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name">
        <br>
        <label for="Surname">Surname:</label>
        <input type="text" id="Surname" name="Surname">
        <br>
        <label for="PhoneNumber">Phone Number:</label>
        <input type="text" id="PhoneNumber" name="PhoneNumber">
        <br>
        <label for="Email">Email:</label>
        <input type="text" id="Email" name="Email">
    </form>
</div>
<div class="Table">
    <table>
        <tr>
            <th>Subject</th>
            <th>Mark</th>
        </tr>
        <tr>
            <td>Maths</td>
            <td>200</td>
        </tr>
        <tr>
            <td>Physics</td>
            <td>200</td>
        </tr>
        <tr>
            <td>English</td>
            <td>200</td>
        </tr>
        <tr>
            <td>Ukrainian</td>
            <td>200</td>
        </tr>
    </table>
</div>
<br>
<br>
<div class="Documents">
    <p>Passport:<button type="button">Download</button></p>
    <p>School certificate:<button type="button">Download</button></p>
    <p>ZNO certificate:<button type="button">Download</button></p>
    <button type="button" id="Save">Save</button>
</div>
